@import '~@alaskaairux/orion-design-tokens/dist/tokens/TokenVariables';
@import '~@alaskaairux/orion-design-tokens/dist/tokens/SCSSVariables';
@import "~@alaskaairux/orion-web-core-style-sheets/dist/breakpoints";
@import "~@alaskaairux/orion-web-core-style-sheets/dist/baseline";

// accessibility
@import "~@alaskaairux/orion-web-core-style-sheets/dist/utilityMixins/focusVisible";

// Auro typography and spacing
$prefix: true;
$paragraph: true;
@import "~@alaskaairux/orion-web-core-style-sheets/dist/essentials";
@import "~@alaskaairux/orion-web-core-style-sheets/dist/utilityClasses/fontStyles";
@import "~@alaskaairux/orion-web-core-style-sheets/dist/headings";
@import "~@alaskaairux/orion-web-core-style-sheets/dist/utilityMixins/layoutPropertiesGenerator";
$prefix: null;

.auro-markdown {
  &.epicWrapper--data,
  &.releaseWrapper--data {
    h1 {
      text-transform: capitalize;
    }

    ul {
      margin: 0;
      padding-left: var(--auro-size-lg);
    }
  }

  &.releaseWrapper--data {
    h1,
    h2 {
      @extend .auro_heading;
      @extend .auro_heading--400;
    }

    h3 {
      @extend .auro_heading;
      @extend .auro_heading--300;
    }
  }

  &.epicWrapper--data {
    h1,
    h2 {
      @extend .auro_heading;
      @extend .auro_heading--700;
    }

    h3 {
      @extend .auro_heading;
      @extend .auro_heading--400;
    }
  }

  footer img {
    width: 50px;
    min-height: 100%;
  }

  blockquote {
    margin-left: 0;
    border-left: 1px solid var(--auro-color-border-active-on-light);
    padding: var(--auro-size-xs);
    padding-left: var(--auro-size-xl);
    color: var(--auro-color-text-secondary-on-light);
    font-weight: 200;
    margin-top: var(--auro-size-lg);
    margin-bottom: var(--auro-size-lg);

    p {
      line-height: 2;
      &:last-child {
        margin-bottom: 0;
      }
    }

    & + p {
      margin-bottom: var(--auro-size-xl);
    }
  }

  strong {
    @extend .auro_heading--300;
  }

  img {
    &[alt="Orion Design System Logo"] {
      width: 125px;
      margin: 0 0 10px 10px;
    }
  }

  h1,
  h2,
  h3 {
    @extend .auro_heading;
  }

  h1 {
    @extend .auro_heading--display;
  }

  h2 {
    @extend .auro_heading--700;
  }

  h3 {
    @extend .auro_heading--600;
  }

  h4 {
    @extend .auro_heading--500;
  }

  a {
    @extend .auro_hyperlink;

    &.focus-visible {
      @include focus-hyperlink(sass);
    }
  }

  p {
    @extend .auro_p;

    &:last-child {
      margin-bottom: 0;
    }

    code {
      color: var(--auro-color-brand-flamingo-500);
      font-size: 1.2rem;
    }
  }

  pre  {
    overflow: auto;
    background-color: var(--auro-color-base-gray-100);
    padding: var(--auro-size-lg) !important;
    margin-bottom: var(--auro-size-xxl);

    code {
      font-size: .9rem;
    }
  }

  table {
    display: block;
    border-collapse: collapse;
    overflow: scroll;
    width: auto;
    border-spacing: var(--auro-size-sm);
    margin-bottom: var(--auro-size-xl);
    font-weight: var(--auro-text-heading-display-weight);

    tr {
      &:nth-child(even) {
        background-color: var(--auro-color-base-gray-100);
      }
    }

    th {
      text-align: left;
      font-weight: var(--auro-text-heading-default-weight);
    }

    img {
     max-width: unset;
    }

    @include auro_breakpoint--sm {
      width: 100%;
      display: table;
    }
  }

  thead {
    border-bottom: 1px solid var(--auro-color-base-gray-200);
    border-collapse: collapse;
  }

  th, td {
    padding: var(--auro-size-md);
  }

  footer {
    font-size: var(--auro-text-body-size-xs);
    color: var(--auro-color-base-gray-100);
  }
}
